      global
          log 127.0.0.1 local0 notice
          maxconn 2000
          user haproxy
          group haproxy

      defaults
          log     global
          mode    http
          option  httplog
          option  dontlognull
          retries 3
          option redispatch
          timeout connect  5000
          timeout client  10000
          timeout server  10000

      frontend Local_Server
          bind ${ mainip }:80
          mode http
          default_backend My_Web_Servers

      backend My_Web_Servers
          mode http
          balance roundrobin
          option forwardfor
          http-request set-header X-Forwarded-Port %[dst_port]
          http-request add-header X-Forwarded-Proto https if { ssl_fc }
          option httpchk HEAD / HTTP/1.1rnHost:localhost
          server web1.example.com  ${ worker1 }:80
          server web2.example.com  ${ worker2 }:80

